// .movie-card {
//   position: relative; /* MOST IMPORTANT */
//   height: 420px;
//   overflow: hidden;
//   border-radius: 10px;
//   cursor: pointer;
// }

// /* Image */
// .movie-card img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   transition: transform 0.4s ease;
// }

// /* Image zoom on hover */
// .movie-card:hover img {
//   transform: scale(1.05);
// }

// /* Overview hidden */
// .overview {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.85);
//   color: #fff;
//   padding: 20px;

//   opacity: 0;
//   transform: translateY(100%);
//   transition: all 0.4s ease;
// }

// /* SHOW overview ONLY on hover */
// .movie-card:hover .overview {
//   opacity: 1;
//   transform: translateY(0);
// }

// .overview h3 {
//   font-size: 18px;
//   margin-bottom: 10px;
// }

// .overview p {
//   font-size: 14px;
//   line-height: 1.5;
// }
