// .section-heading {
//   font-size: 24px;
//   font-weight: 600;
//   color: #3f51b5;
//   margin-bottom: 20px;
//   border-left: 5px solid #3f51b5;
//   padding: 12px 14px;
//   background-color: #e8ebff;
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
//   border-radius: 6px;
//   text-align: center;
//   margin: 0 auto;
// }
