<!-- <div class="card h-100 movie-wrapper">
    <figure class="movieCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnjIAayoGfsy7mzF0-pIw5DXmroTYQTb_AXg&s"
            alt="movieImg" />


        <figcaption class="titleInfo">
            <div class="row align-items-center">
                <div class="col-10">
                    <h2>{{ movie.title || movie.original_title }}</h2>
                </div>
                <div class="col-2 text-end">
                    <span class="badge bg-success">⭐ {{ movie.vote_average }}</span>
                </div>
            </div>
        </figcaption>

        <div class="overview">
            <h3>{{ movie.title || movie.original_title }}</h3>

            <div class="rating">
                ⭐ {{ movie.vote_average }} / 10
            </div>

            <p>{{ movie.overview }}</p>
        </div>
    </figure>
</div> -->